.cat-home {
    height: 50px;
  .z-top {
    font-size: 0.15rem;
    display: flex;
    height: 0.44rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.13rem;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 1000;
    ul {
      display: flex;
      li {
      font-weight: 700;
      height: 0.44rem;
      line-height: 0.44rem;
      box-sizing: border-box;
      a {
        color: #666666;
        display: block;
        padding: 0 0.12rem;
        margin: 0 0.1rem;
      }
      .active {
        color: #ef4238;
        border-bottom: 0.02rem solid #ef4238;
      }
      }
    }
    div {
      display: flex;
       p {
        color: #666666;
        max-width: 79px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
      span {
          margin-right: 5px;
          width: 0;
          height: 0;
          border: 4px solid #b0b0b0;
          border-left-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          display: inline-block;
          margin-left: 4px;
          margin-top: 6px;
        }
    }
    .p-img {
      height: 0.4rem;
      width: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
      width: 0.2rem;
      }
    }
  }
}
