header{
  height: 50.5px;
  color: #fff;
  background: #e54847;
  border-bottom: 1px solid #e54847;
  position: relative;
  h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .icon-fanhui-copy{
      position: absolute;
      font-size: 35px;
      left: 0;
    }
  }
}
