.header{
    background: red;
    height:0.5rem;
    width:100%;
    text-align: center;
    line-height: 0.5rem;
    color: #ffffff;
    font-size: 0.18rem;
    position: fixed;
    top: 0;
    z-index: 9999;
}